.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow: hidden;
    position: relative;
}
.container {
    padding: 50px 0;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.logo {
    display: flex ;
    flex-direction: column ;
    justify-content: start;
    align-items: center; 
}
.logo1{
    width: 180px;
} 
.logo2 {
    width: 180px;
    display: none;
}

.header img {
    width: 100%;
}
.logo .caption {
  text-align: center;  
} 
.caption h1 {
    color: white;
    font-size: 28px;
    letter-spacing: 2.8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.caption p {
    color: white;
    font-size: 16px;
    letter-spacing: .4px;
}
.register {
    background-color: black;
    color: white;
    width: 250px;
    margin-top: 60px;
    padding: 1px 10px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
.register p{
    color: white;
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 600;
}
.web {
    margin : 60px 0 0 20px;
}
.web p {
    color: white;
    font-size: 18px;
    letter-spacing: 1.8px;
    
}
@media screen and (min-width:390px) {
    .caption h1  {
         font-size: 30px;
    }
    .caption p {
        font-size: 17px;
    }
    .register {
        width: 280px;
    }
    .register p {
        font-size: 18px;
    }
    .web p {
        font-size: 20px;
    }
}
@media screen and (min-width:576px) {
    .register {
        width: 320px;
    }
    .register p {
        font-size: 18px;
        padding: 1px 14px;
    } 
    .web {
        margin : 60px 0 0 50px;
    }   
    .logo1{
        width: 240px;
    } 
}
@media screen and (min-width:992px) {
    .caption h1  {
        font-size: 38px;
    }
    .caption p {
        font-size: 20px;
    }
}
@media screen and (min-width:1200px) {
    .logo {
        flex-direction: row ;
        justify-content: space-evenly;
        align-items: start;
    }
    .logo2 {
        width: 240px;
        display:inline;     
    } 
    .register {
        width: 500px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }
    .register p {
        font-size: 24px;
        padding: 1px 40px;
        letter-spacing: 2.2px;
    }
    .web {
        margin : 60px 0 0 100px;
    }    
    .web p {
        font-size: 24px;
    }
}
@media screen and (min-width:1400px) {
    .container {
    padding: 80px 0;
    }
    .caption h1  {
        font-size: 56px;
        letter-spacing: 5px;
    }
    .caption p {
        font-size: 28px;
    }
}